<div id="header">
  <p id="titleHeader">TP Super Heroes</p>
  <p id="dateHeader">31/12/2018</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6" id="mapBlock">
      {{g-map lat="48.856614" lng="2.3522219" zoom=10}}
    </div>
    <div class="col-sm-6">
      <div class="legends">
        <p class="title">Compteur de villains en ville :</p>

      </div>
      <div class="legends">
        <p class="title">Position des héroes :</p>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <p id="authors">Alexandre Contassot - Alexia Couton - Victor Fauquembergue</p>
</div>
